.content {
	height: 1100px;
	width: 1000px;
}
.content_jounery {
	height: 2750px;
	width: 1000px;
}
.content_contacts {
	height: 800px;
	width: 1000px;
}
.agency {
	height: 550px;
	width: 1000px;
}
.contacts_agency_con {
	height: 650px;
	width: 1000px;
}
.agency_tit {
	height: 100px;
	width: 1000px;
}
.agency_tit h3 {
	font-size: 28px;
	line-height: 44px;
	color: #263555;
	text-transform: uppercase;
	padding: 36px 0 0 70px;
}
.agency_con {
	height: 350px;
	width: 1000px;
}
.agency_img {
	float: left;
	margin-top: 30px;
	margin-left: 40px;
	width: 540px;
	height: 260px;
}
.agency_img img {
	width: 540px;
	height: 260px;
}
.agency_cont {
	float: left;
	margin-top: 30px;
	margin-left: 40px;
	width: 300px;
	height: 260px;
}
.cont1 {
	font-size: 20px;
	line-height: 28px;
	color: #263555;
	text-transform: uppercase;
}
.agency_img {
	font-size: 16px;
	line-height: 20px;
	color: #263555;
	position: relative;
}
.blog {
	height: 350px;
	width: 1000px;
	overflow: hidden;
}
.time {
	text-align: center;
	display: block;
	background-color: #38afe5;
	border-radius: 500px;
	color: #fff;
	width: 39px;
	height: 30px;
	padding-top: 9px;
	font-size: 11px;
	line-height: 11px;
	float: left;
	margin-right: 13px;
	margin-top: 3px;
}
.blog_tit {
	font-size: 20px;
	line-height: 20px;
	color: #263555;
	padding-top: 20px;
}
.blog_con {
	font-size: 16px;
	line-height: 19px;
	color: #263555;
	padding-top: 40px;
}
.article_con {
	font-size: 16px;
	line-height: 19px;
	color: #263555;
	padding-top: 40px;
	padding-right:40px;
}
.blog_btn {
	bottom: 10px;
	right: 10px;
	position: absolute;
}
.blog_content {
	height: 1200px;
	width: 1000px;
}
.cont2 {
	font-size: 20px;
	line-height: 28px;
	color: #263555;
	text-transform: uppercase;
}
.cont_tit {
	font-size: 38px;
	line-height: 44px;
	color: #263555;
	text-transform: uppercase;
	margin-bottom: 50px;
	position: relative;
}
.clear {
	float: none !important;
	clear: both;
}
/****Form****/
.form {
	height: 416px;
	width: 300px;
	position: relative;
}
.form {
	padding-top: 3px;
}
.form input {
	color: #263555;
	border: 1px solid #d4d0d0;
	width: 100%;
	background-color: #fcfafa;
	text-transform: uppercase;
	height: 34px;
	margin-bottom: 10px;
	float: left;
	font: 13px/18px Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
.form textarea {
	color: #263555;
	height: 233px;
	text-transform: uppercase;
	overflow: auto;
	background-color: #fcfafa;
	border: 1px solid #d4d0d0;
	width: 100%;
	position: relative;
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float: left;
	font: 13px/18px Arial, Helvetica, sans-serif;
	margin: 0;
}
.btns {
	position: relative;
	padding-top: 22px;
	text-align: right;
}
.btn {
	float: right;
	margin-left: 10px;
}
/* article  */
.aritcle {
	height: 900px;
	width: 1000px;
	overflow: hidden;
}
.article_agency_img {
	float: left;
	margin-top: 30px;
	margin-left: 40px;
	width: 960px;
	height: 870px;
}
.article_agency_cont {
	float: left;
	margin-top: 30px;
	margin-left: 40px;
	width: 300px;
	height: 260px;
}
