.content {
	height: 950px;
	width: 1000px;
}
.g {
	height: 900px;
	width: 1000px;
}
.g_tit {
	height: 100px;
	width: 1000px;
}
.g_tit h3 {
	font-size: 28px;
	line-height: 44px;
	color: #263555;
	text-transform: uppercase;
	padding: 36px 0 0 70px;
}
.g_con {
	height: 350px;
	width: 1000px;
}
.g_img {
	float: left;
	margin-top: 50px;
	margin-left: 25px;
	width: 300px;
	height: 200px;
}
.g_img img {
	width: 300px;
	height: 200px;
}
