@charset "utf-8";
.widthAll{width:100%;}
.heightAll{height:100%;}
.bgWidthInit{background-size:100%;}
.bgAllInit{background-size:100% 100%;}
.bgNoRpt{background-repeat:no-repeat;}
.padin0{padding:0;}
.padinBtmMenu{padding:0 0 45px 0;}
.pztR{position:relative;}
.pztA{position:absolute;}
.ovfH{overflow:hidden;}
.ovfA{overflow:auto;}
.fltL{float:left;}
.lineheight40{line-height:40px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font22{font-size:22px;}
body{background-color:#cad2dd;}
.container{max-width:640px;min-width:320px;max-height:1136px;min-height:480px;}
.rightTit{top:25.52817%;right:0;width:11.875%;padding:5% 2%;color:#FFF;}
ul,li{padding:0;margin:0;list-style:none;}
/*index*/
.index-bg{background-image:url(../images/bg-index.jpg);}
.index-nav{width:55.3125%;height:42.34154923%;top:17.0774648%;max-width:384px;max-height:481px;}
.index-nav-li{width:10.4519774%;max-width:27px;height:100%;background-image:url(../images/bg-nav-index.png);margin:0 0 0 13.5416%;}
span.index-nav-txt{top:30%;left:0;width:100%;height:40%;}
span.index-nav-txt a{font-weight:bold;color:#290094;text-decoration:none;}
/*subpage*/
.subpage-bg{background-image:url(../images/bg-subpage.jpg);}
.subpage-nav,.subpage-list{left:1.5625%;}
.subpage-nav{background-image:url(../images/bg-nav-subpage.png);width:49.0625%;height:3.25704225352%;top:13.7323943662%;font-weight:bold;color:#290094; text-align:center;min-height:20px;}
.subpage-wrap{width:85.3125%;top:20.3661972%;left:2%;height:75%;}
.subpage-list-li{max-height:190px;min-height:95px;border-bottom:1px solid #919191;padding:5px 0;}
.subpage-list-li a,.subpage-worklist-li a{color:#000;text-decoration:none;}
span.subpage-list-item-pic,span.subpage-list-item-tit,span.subpage-list-item-datetime,span.subpage-worklist-item-pic,span.subpage-worklist-item-tit{display:block;}
span.subpage-list-item-pic{min-width:82px;max-width:164px;width:40.03663%;height:64.7368421%;}
span.subpage-list-item-tit,span.subpage-list-item-datetime{padding:5px;width:50%;}
span.subpage-list-item-tit{height:80%;max-height:160px;min-height:65px;}
span.subpage-list-item-datetime{height:20%;height:30px;}
.subpage-content{padding:0 5px;height:95%;}
.subpage-detail-tit{max-height:30px;height:5%;text-overflow:ellipsis;font-weight:bold;}
.subpage-detail-content{padding:0 5px;height:90%;margin:5% 0 0 0;}
.subpage-detail-content img,.subpage-content img{width:90%;margin:0 auto;}
.subpage-worklist-li{width:40%;margin:0 5%;max-height:270px;min-height:135px;}
span.subpage-list-item-pic{min-width:122px;max-width:244px;}
/*RWD*/
@media screen and (min-width:480px){
	.rightTit{padding:5% 4%;}
}
@media screen and (min-width:650px){
	.rightTit{padding:5% 20px;}
}
#menu{width:100%;height:45px;padding:0 5px 0 0;background-color:rgba(0,0,0,.8);position:fixed;bottom:0;left:0;overflow:hidden;line-height:20px;color:#595959;z-index:2;}
#menu span{width:1em;height:20px;display:block;float:left;margin:10px 5px 0 5px;font-size:20px;text-align:center;}
#menu span.copy{width:auto;height:100%;font-size:12px;color:#FFF;float:none;margin:10px 0 0 ;line-height:14px;}