
 @charset "utf-8";
/* 页面元素初始化和常用样式定义-start */
/*======== 全局 ========*/
* {
	-webkit-text-size-adjust: none;
}

input {
	outline:  none !important;
}


html {
	width: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	font: 13px/19px  Arial, Helvetica, sans-serif;
	position:relative;
	min-width:960px;
	background: #000;
	background: url(../images/bg_body.jpg) center 0 no-repeat #d6bba0;
}
fieldset, img {
	border: 0;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
em {
	font-style: normal;
}
input, button, select, textarea {
	outline: none;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
	resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
	text-align: justify;
	text-justify: distribute;
}
/*======== Link ========*/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
a:hover {
	color: #38afe5;
	text-decoration: none;
}
/*清空浮动的代码-start*/
.clr:after {
	content: "";
	display: table;
	clear: both
}
.clr {
	*zoom:1;
}

/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */