/**to top**/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 30px;
	margin-right: -620px !important;
	overflow: hidden;
	width: 36px;
	height: 37px;
	border: none;
	text-indent: -999px;
	z-index: 999;
	background: url(../images/totop.png) no-repeat left top;
	transition: 0s ease;
	-webkit-transition: 0s ease;
	-o-transition: 0s ease;
}
#toTop:hover {
	background-position: right 0;
}
/************Header***********/
/*header*/

.header {
	display: block;
	position: relative;
	z-index: 999;
}
.header a:hover {
	color: #000;
}
.header h1 {
	position: absolute;
	float: left;
	width: 167px;
	top: 31px;
	left: 50%;
	margin-left: -84px;
	height: 168px;
	z-index: 999;
}
.header h1 a {
	display: block;
	overflow: hidden;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
.header h1 a img {
	display: block;
}
.nav {
	width: 1000px;
	padding: 20px 90px;
	margin: 0 auto;
}
.l_nav {
	width: 350px;
	float: left;
}
.l_nav ul {
	width: 300px;
	margin: 0 auto;
}
.l_nav ul li {
	float: left;
	width: 100px;
	height: 30px;
	text-align: center;
}
.l_nav ul li a {
	font-size: 24px;
	color: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
}
.l_nav ul li a:hover {
	color: #263555;
	display: block;
	height: 30px;
	line-height: 30px;
}
.top_logo {
	width: 167px;
	height: 168px;
	float: left;
}
.r_nav, .l_nav {
	margin: 80px 0 0 40px;
}
.r_nav {
	width: 350px;
	float: left;
}
.r_nav ul {
	width: 300px;
	margin: 0 auto;
}
.r_nav ul li {
	float: left;
	width: 100px;
	height: 30px;
	text-align: center;
}
.r_nav ul li a {
	font-size: 24px;
	color: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
}
.r_nav ul li a:hover {
	color: #263555;
	display: block;
	height: 30px;
	line-height: 30px;
}
/************Main***********/
.main {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background: #FFF;
}
.content {
	width: 1000px;
	height: auto;
}
/************focus_pic***********/
.focus_pic {
	overflow: hidden;
	position: relative;
	width: 932px;
	height: 675px;
	padding: 60px 34px 60px 34px;
}
.prevnext {
	width: 112px;
	height: 112px;
	bottom: 50px;
	left: 90px;
}
a.prev, a.next {
	width: 56px;
	background: url(../images/prevnext.png) 0 0 no-repeat;
	height: 112px;
	position: absolute;
	display: block;
	bottom: 68px;
	z-index: 999;
	left: 45px;
}
a.next {
	left: 101px;
	width: 57px;
	background-position: right bottom;
}
a.next:hover, a.prev:hover {
	opacity: 0.8;
}
/************destinations***********/
.destinations {
	height: 500px;
}
.d_text {
	height: 80px;
	padding-top: 30px;
	padding-left: 50px;
	font-size: 30px;
	line-height: 50px;
	color: #263555;
	text-transform: uppercase;
}
.d_img ul {
	width: 1000px;
	height: 350px;
	margin: 0 auto;
}
.d_img ul li {
	float: left;
	padding-left: 25px;
}
/************newspoint***********/
.newspoint {
	height: 500px;
}
.l_news {
	width: 601px;
	height: 500px;
	float: left;
	padding: 0 20px 0 40px!important;
	_padding: 0 10px 0 30px;
}
/************选项卡代码start***********/
.tabs {
	position: relative;
}
.tabs ul li:first-child {
	border-left: 1px solid #dedbdb;
}
.tabs #floatLi {
	position: absolute;
	border-radius: 3px 3px 0 0;
	background-color: #fff;
	width: 199px;
	height: 39px;
	text-align: center;
	border: 1px solid #dedbdb;
	border-bottom: none;
	line-height: 39px;
	font-size: 24px;
	font-family: 'Pathway Gothic One', sans-serif;
	cursor: pointer;
}
.tabs ul li {
	border-radius: 3px 3px 0 0;
	float: left;
	background-color: #eee;
	width: 199px;
	text-align: center;
	border-bottom: 1px solid #dedbdb;
	border-top: 1px solid #dedbdb;
	border-right: 1px solid #dedbdb;
	display: block;
	padding: 6px 0 4px;
	font: 24px/28px 'Pathway Gothic One', sans-serif;
	cursor: pointer;
}
.tabs ul li.cur {
	background: #FFF;
	color: #09F;
	border-bottom: none;
}
.tabs ul li a {
}
.tabs_body {
	border: 1px solid #dedbdb;
	border-top: none;
	padding: 10px 16px 10px;
	height: 380px;
}
.tabs_d {
	width: 560px;
}
.tabscont {
	width: 560px;
	margin: 20px 0 0 0;
}
.tabs_img {
	width: 250px;
	float: left;
	overflow: hidden;
}
.tabscont img {
	margin-right: 24px;
}
.extra_wrapper {
	float: left;
	overflow: hidden;
	width: 250px;
}
.text2 {
	font-size: 16.8px;
	line-height: 22.8px;
	padding: 5px 0 0 20px;
	color: #263555;
	position: relative;
}
.extra_wrapper a.btn {
	display: block;
	float: right;
}
a.btn {
	color: #000;
	display: inline-block;
	background-color: #fbf6f8;
	border-radius: 5px;
	box-shadow: 0 1px 1px #dedbdb;
	font-size: 15px;
	border: 1px solid #b1aaaa;
	line-height: 15px;
	padding: 5px 16px 4px;
}
a.btn:hover {
	border-color: #476788;
	color: #fff;
	background-color: #38AFE5;
}
/************选项卡代码end***********/



.r_point {
	width: 300px;
	height: 500px;
	float: right;
	padding: 0 25px 0 11px;
}
.r_title {
	border: 1px solid #dedbdb;
	font: 300 24px/27px 'Open Sans Condensed', sans-serif;
	color: #263555;
	border-radius: 3px 3px 0 0;
	padding: 7px 0 3px;
	background-color: #fcfafa;
	text-transform: uppercase;
	text-align: center;
}
.r_content {
	height: 350px;
	border: 1px solid #dedbdb;
	border-top: 0;
	padding-bottom: 49px;
	padding-left: 20px;
	padding-right: 19px;
	padding-top: 0;
}
.newsletter {
	position: relative;
}
.text1 {
	text-align: center;
	padding-top: 39px;
	margin-bottom: 26px;
	font-size: 16.8px;
	line-height: 22.8px;
	color: #263555;
}
.newsletter input {
	float: left;
	border: 2px solid #e6e4e4;
	border-radius: 6px;
	color: #868f8f;
	width: 100%;
	height: 34px;
	font: 15.6px/22.8px Arial, Helvetica, sans-serif;
	padding: 4px 8px 5px;
	box-shadow: none !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.newsletter a {
	display: block;
	position: absolute;
	background: url(../images/envel.png) 6px 9px no-repeat;
	width: 34px;
	height: 34px;
	top: 90px;
	right: 0px;
}
.list {
	height: 210px;
	width: 260px;
	padding: 30px 0 20px 0;
	overflow: hidden;
}
ul.list li {
	padding-left: 35px;
	padding-top: 10px;
	background: url(../images/marker.png) 0 12px no-repeat;
	color: #263555;
	font-size: 16px;
	line-height: 22.8px;
}
/************bottom_block***********/
.bottom_block {
	background-color: #30455b;
	color: #ffffff;
	font-size: 12px;
	height: 135px;
}
.container {
	margin-left: auto;
	margin-right: auto;
}
.grid {
	padding-left: 50px;
	width: 200px;
	float: left;
}
.grid ul {
	padding-top: 42px;
}
.grid ul li+li {
	margin-top: 10px;
}
/************Footer***********/

.footer {
	display: block;
	padding: 25px 0;
	color: #6b6868;
}
.copy {
	text-align: center;
	font-size: 18px;
	color: #fff;
}


/* 图片文字说明 */

.pic{
    max-width: 300px;
    max-height: 281px;
    position: relative;
    overflow: hidden;
    float: left;
    display: inline-block;
    animation: anima 2s;
    -webkit-animation: anima 2s;
   backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}
.tie_a{
	padding:30px 50px 0 50px;
	font-size:24px;
	color:#fff;
	display:block;
	}
.tie_p{
	padding:30px 20px 0 20px;
	color:#d3d3d4;
	display:block;
	}

.pic-caption{
    cursor: crosshair;
    position: absolute;
    width: 95%;
    height: 95%;
    background: rgba(0,0,0,0.6);
    opacity:0;
    text-align:center;
}

.pic-image{
     -webkit-transform: scale(1.1);
             transform: scale(1.1);
}
.pic:hover .pic-image{
    -webkit-transform: scale(1);
            transform: scale(1);
}
/*All classes with same attribute*/
.pic .pic-image,
.pic-caption,
.pic:hover .pic-caption,
.pic:hover img{
     transition: all 0.5s ease;
    -webkit-transition: all 0.5 ease;  
}

/*Effects in Caption*/
.pic:hover .bottom-to-top,
.pic:hover .top-to-bottom,
.pic:hover .left-to-right,
.pic:hover .right-to-left{
    opacity: 0.5;
}
/*Bottom to Top*/
.bottom-to-top{
    top:50%;    
    left:2.5%;
}
.pic:hover .bottom-to-top{
    top:2.5%
}
/*Top to Bottom*/
.top-to-bottom{
    bottom:50%;    
    left:2.5%;
}
.pic:hover .top-to-bottom{
    bottom: 2.5%;
}
/*Left to Right*/
.left-to-right{
	top: 18px;
	right: 10px;
}
.pic:hover .left-to-right{
    right: 2.5%;
}
/*Right to Left*/
.right-to-left{
    top:2.5%;
    left:50%;
}
.pic:hover .right-to-left{
    left: 2.5%;
}

/* 图片轮播 */
#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

   End SlidesJS Optional

   SlidesJS Required: These styles are required if you'd like a responsive slideshow 

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
		}
